semi: true
printWidth: 80
singleQuote: true
tabWidth: 2
useTabs: false
overrides:
  - files: "**/*.js"
    options:
      trailing-comma: es5
  - files: "**/*.ts"
    options:
      trailingComma: all
