// https://github.com/pure-css/pure/blob/master/src/tables/css/tables.css

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;

  td, th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
    &:first-child {
      border-left-width: 0;
    }
    code.highlighter-rouge {
      background-color: transparent;
    }
  }

  thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
  }
  td {
    background-color: transparent;
  }

  tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
  }
}
