---
# Only the main Sass file needs front matter (the dashes are enough)
---
$fa-font-path: "{{ site.baseurl }}/assets/fonts";
@import 'font-awesome';

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

@import "anchors";
@import "typo";
