name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main'"

  prepare-npm-cache:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: 16.x
          cache: npm
      - name: Validate cache
        run: npm ci

  lint-and-typecheck:
    name: build-lint
    runs-on: ubuntu-latest
    needs: prepare-npm-cache

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: 16.x
          cache: npm
      - name: Install
        run: npm ci
      - name: Run eslint
        run: npm run lint
      - name: Run prettier
        run: npm run lint-prettier-ci

  test:
    name: Node v${{ matrix.node-version }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    needs: prepare-npm-cache

    steps:
      - uses: actions/checkout@v3
      - name: Get npm cache
        id: npm-cache
        run: echo "::set-output name=dir::$(npm config get cacheFolder)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-npm-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install and build
        run: npm ci
      - name: Run tests with coverage
        run: npm run test -- --coverage && cat ./coverage/lcov.info
        env:
          CI: true
          DISABLE_MOCKED_WARNING: true
      - name: Coveralls parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: run-${{ matrix.node-version }}
          parallel: true
      - name: Run tests in example projects
        run: npm run test-examples

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
        env:
          CI: true
