name: Test

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  test:
    permissions:
      checks: write # for coverallsapp/github-action to create new checks
      contents: read # for actions/checkout to fetch code
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x, 18.x]
    name: Node v${{ matrix.node-version }} on ${{ inputs.os }}
    runs-on: ${{ inputs.os }}

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install and build
        run: npm ci
      - name: Run tests with coverage
        run: npm run test -- --coverage && cat ./coverage/lcov.info
        env:
          CI: true
          DISABLE_MOCKED_WARNING: true
      - name: Coveralls parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: run-${{ matrix.node-version }}
          parallel: true
      - name: Run tests in example projects
        run: npm run test-examples
